.cell {
    &.containsShip {
        background-color: $orange;
    }
    &.unattacked {
        cursor: pointer;
    }
    &.miss {
        background-color: rgba(65, 204, 225, 0.25);
    }
    &.hit {
        background-color: hsl(0, 100%, 50%);
    }
}
