.cell {
    &.containsShip {
        background-color: $orange;
    }
    &.unattacked {
        cursor: pointer;
    }
    &.miss {
        background-color: $lightblue;
    }
    &.hit {
        background-color: $red;
    }
    &.isSunk {
        background-color: #2d8a98;
    }
}
