@import 'placeShips.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game_title {
    text-align: center;
}

.instructions_header {
    outline: 1px solid black;
    text-align: center;
    padding: 1rem;
}
