@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'placeShipsScreen.scss';
@import 'battleScreen.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #f3f3f3;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    font-family: inherit;
    font-weight: 500;
    border: none;
    background-color: hsla(20, 100%, 50%, 0.5);
    color: black;
    border-radius: 5px;
    height: max-content;
    padding: 4px 16px;

    &:hover {
        background-color: hsla(20, 100%, 50%, 0.8);
        transform: scale(1.1);
        cursor: pointer;
    }
}
