$boardsize: 300px;

.place_ships_screen_container {
    display: flex;
    flex-grow: 1;
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.board {
    height: $boardsize;
    width: $boardsize;
    outline: 1px solid black;
    display: grid;
}

.blockShip {
    display: flex;
}

.blockShip .cell {
    width: calc($boardsize / 10);
    height: calc($boardsize / 10);
    background-color: gray;
}

.cell {
    outline: 1px solid black;
}

.draggable {
    cursor: move;
}
