$boardsize: 50vmin;

.place_ships_screen_container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.board {
    height: $boardsize;
    width: $boardsize;
    display: grid;
}

.unplaced_ships_container {
    display: flex;
    flex-direction: column;
    height: $boardsize;
}

.ship_name {
    height: calc($boardsize / 10);
    line-height: calc($boardsize / 10);
}

.block_ship {
    display: flex;
}

.block_ship .cell {
    width: calc($boardsize / 10);
    height: calc($boardsize / 10);
    background-color: gray;
}

.cell {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsla(0, 0%, 100%, 0.4);
}

.draggable {
    cursor: move;
}
